@import "../../styles/__breakpoints.scss";

.root {
  max-width: 100%;
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr;

  @include tablet-sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop-lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pageInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px 20px;
  background-color: var(--color-grey-50);
  border-radius: 15px;
  color: var(--color-text);
}

.pageIndicator {
  font-weight: 600;
  font-size: 16px;
}

.productsCount {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-grey-10);
}

// Адаптивность для мобильных устройств
@media (max-width: 768px) {
  .pageInfo {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 12px 15px;
  }

  .pageIndicator {
    font-size: 14px;
  }

  .productsCount {
    font-size: 12px;
  }
}

.emptyPage {
  color: var(--color-grey-10);
  font-size: 35px;
  font-weight: bold;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
