@import "../../styles/_breakpoints";

.root {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 310px;
  right: 20px;
  bottom: 20px;

  @media screen and (max-width: $mobile) {
    margin: 0px 15px;
  }
}
