@import "../../styles/_breakpoints";

.root {
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    left: 310px;
    top: 20px;
    right: 20px;
    bottom: 20px;
  }
}

.wrapper {
  margin-top: 154px;
  position: relative;

  @include tablet {
    margin-top: 104px;
  }
}
