@import "../../styles/__breakpoints.scss";

.root {
  background-color: var(--color-grey-50);
  width: 270px;
  border-radius: 15px;
  box-sizing: border-box;
  position: fixed;
  left: 20px;
  bottom: 20px;
  top: 20px;
  height: calc(100vh - 40px);
  // padding: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  display: none;

  @include tablet {
    display: flex;
  }
}

.logo {
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 35px 0px;

  & img {
    height: 100%;
  }
}

.catalog {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.catalogItem {
  padding: 15px 35px;
  font-weight: bold;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.1s;

  & > * {
    color: var(--color-text);
    text-decoration: none;
  }

  &.active {
    color: var(--color-primary);
    background-color: var(--color-grey-40);
    padding: 15px 45px;
  }

  &.active > * {
    color: var(--color-primary);
  }

  &:hover {
    padding: 15px 45px;
    background-color: var(--color-grey-40);
  }
}

.switchFilterCatalog {
  font-weight: bold;
}
.switchItem {
  position: relative;
  cursor: pointer;
  display: inline-block;
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: currentColor;
    transition: all ease-in-out 0.3s;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
.switchItem.active {
  color: var(--color-primary);
}
