@import "../../styles/__breakpoints.scss";

.root {
  width: 100%;
  margin-top: 60px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  color: var(--color-grey-10);
  font-size: 20px;

  @include tablet-sm {
    flex-direction: row;
    gap: 5px;
    font-size: 10px;
  }

  @include desktop {
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
  }
}

.ul {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;

  & li {
    margin: 5px 0px;
    transition: 0.2s all;
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.name {
  font-weight: bold;
}
