body {
  background-color: var(--color-bg);
  color: white;
}

.root {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 20% 80%;
  box-sizing: border-box;
  width: 1380px;
  height: 100vh;
}
